<div ng-switch="myVar">
    <div ng-switch-when="ADMIN">
        <div ng-include="'views/inc/side_nav_admin.html'"></div>
    </div>
    <div ng-switch-when="MANAGER">
        <div ng-include="'views/inc/side_nav_manager.html'"></div>
    </div>
    <div ng-switch-when="CUSTOMER">
        <div ng-include="'views/inc/side_nav_customer.html'"></div>
     
    </div>
    <div ng-switch-default>
     
    </div>
</div>
<div class="uni-home-3">
    <div id="wrapper-container" class="site-wrapper-container">
        <header>
            <div class="uni-medicare-header sticky-menu">
                <div class="uni-header-top">
                    <div class="container">
                        <div class="uni-header-top-left">
                            <!--LOGO-->
                            <div class="wrapper-logo">
                                <a class="logo-default" href="#"><img src="images/logo.png" alt="" class="img-responsive"></a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="uni-header-top-right">
                            <ul>
                                <li>
                                    <div class="uni-header-top-icons">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    </div>
                                    <div class="uni-header-top-text">
                                        <span>408/1, Kuratoli, Khilkhet, Dhaka 1229</span>
                                        <h4>Bangladesh</h4>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="uni-header-top-icons">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    </div>
                                    <div class="uni-header-top-text">
                                        <span>Call us</span>
                                        <h4>01234567890</h4>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li>
                                    <div class="uni-header-top-icons">
                                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    </div>
                                    <div class="uni-header-top-text">
                                        <span>Send a message</span>
                                        <h4>assists@pharma.com</h4>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="uni-medicare-header-main-home-3">
                    <div class="container">
                        <div class="uni-medicare-header-main">
                            <!--MENU TEXT-->
                            <div class="uni-main-menu">
                                <nav class="main-navigation uni-menu-text">
                                    <div class="cssmenu">
                                        <ul class="navbar-nav">
                                            <li class="nav-item">
                                                <a class="nav-link" href="#!/viewhomepage"><i class="fas fa-home"></i>&nbsp;&nbsp;Home</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" ><i class="fas fa-list-alt"></i>&nbsp;&nbsp;Medicine List</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#!/customerregister"><i class="fas fa-user-plus"></i>&nbsp;&nbsp;Registration</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#!/login"><i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;Login</a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>

                            <!--SEARCH-->
                            <!-- <div class="uni-search-yop-home-3">
                                <div id="custom-search-input">
                                    <div class="input-group">
                                        <input type="text" class="  search-query form-control" placeholder="Key Word ... " />
                                        <span class="input-group-btn">
                                        <button class="btn btn-search" type="button">
                                            <span class=" glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                    </div>
                                </div>
                            </div> -->

                            <!--SHORTCODE
                            <div class="show-hover-shortcodes animated">
                                <div class="short-code-title">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h4>SHORT CODE 1</h4>
                                        </div>
                                        <div class="col-md-3">
                                            <h4>SHORT CODE 2</h4>
                                        </div>
                                        <div class="col-md-3">
                                            <h4>SHORT CODE 3</h4>
                                        </div>
                                        <div class="col-md-3">
                                            <h4>SHORT CODE 4</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="short-code-content">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <ul>
                                                <li><a href="07_01_buttons.html"><i class="fa fa-plus-square" aria-hidden="true"></i>Buttons</a></li>
                                                <li><a href="07_02_icons_box.html"><i class="fa fa-cube" aria-hidden="true"></i>Icon Box</a></li>
                                                <li><a href="07_03_progress.html"><i class="fa fa-tasks" aria-hidden="true"></i>Process Bar</a></li>
                                                <li><a href="07_04_tabs.html"><i class="fa fa-columns" aria-hidden="true"></i>Tabs</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <ul>
                                                <li><a href="07_05_accordion.html"><i class="fa fa-list" aria-hidden="true"></i>Accordion</a></li>
                                                <li><a href="07_06_counter.html"><i class="fa fa-tachometer" aria-hidden="true"></i>Counter</a></li>
                                                <li><a href="07_07_testimonials.html"><i class="fa fa-comments-o" aria-hidden="true"></i>Testimonials</a></li>
                                                <li><a href="07_08_typography.html"><i class="fa fa-text-width" aria-hidden="true"></i>Typography</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <ul>
                                                <li><a href="07_09_partner.html"><i class="fa fa-handshake-o" aria-hidden="true"></i> Partner</a></li>
                                                <li><a href="07_10_team.html"><i class="fa fa-users" aria-hidden="true"></i> Team</a></li>
                                                <li><a href="07_11_item_list.html"><i class="fa fa-list-ol" aria-hidden="true"></i> Item List</a></li>
                                                <li><a href="07_12_divider.html"><i class="fa fa-chain-broken" aria-hidden="true"></i>Dividers</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <ul>
                                                <li><a href="07_13_columns.html"><i class="fa fa-bar-chart" aria-hidden="true"></i> Columns</a></li>
                                                <li><a href="07_14_pricing_table.html"><i class="fa fa-address-card-o" aria-hidden="true"></i> Pricing table</a></li>
                                                <li><a href="#"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 404 Pages</a></li>
                                                <li><a href="#"><i class="fa fa-repeat" aria-hidden="true"></i> Comming soon</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            END SHORTCODE-->
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div id="main-content" class="site-main-content">
            <section class="site-content-area">

                <!--BANNER
                <div class="uni-banner">
                    <div class="uni-owl-one-item owl-carousel owl-theme">
                        <div class="item">
                            <div class="uni-banner-img uni-background-7"></div>
                            <div class="content animated" data-animation="flipInX" data-delay="0.9s">
                                <div class="container">
                                    <div class="caption">
                                        <h1>Let us protect your health</h1>
                                        <p>
                                            Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                                            <br>
                                            Donec eu libero sit amet quam egestas semper.
                                        </p>
                                        <a href="#">our services</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="uni-banner-img uni-background-6"></div>
                            <div class="content animated" data-animation="flipInX" data-delay="0.9s">
                                <div class="container">
                                    <div class="caption">
                                        <h1>Let us protect your health</h1>
                                        <p>
                                            Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                                            <br>
                                            Donec eu libero sit amet quam egestas semper.
                                        </p>
                                        <a href="#">our services</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="uni-banner-img uni-background-5"></div>
                            <div class="content animated" data-animation="flipInX" data-delay="0.9s">
                                <div class="container">
                                    <div class="caption">
                                        <h1>Let us protect your health</h1>
                                        <p>
                                            Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                                            <br>
                                            Donec eu libero sit amet quam egestas semper.
                                        </p>
                                        <a href="#">our services</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

                <!--HOME 2 ICONS BOX-->
                <div class="uni-home-2-icons-box">
                    <div class="uni-shortcode-icons-box-2">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-3 uni-clear-padding">
                                    <div class="uni-shortcode-icons-box-2-default uni-background-blue">
                                        <div class="item-icons">
                                            <i class="fa fa-truck" aria-hidden="true"></i>
                                        </div>
                                        <div class="item-caption">
                                            <h4>
                                                Qualified Deliverymans
                                            </h4>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 uni-clear-padding">
                                    <div class="uni-shortcode-icons-box-2-default uni-background-blue-blur">
                                        <div class="item-icons">
                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        </div>
                                        <div class="item-caption">
                                            <h4>
                                                24 hours service
                                            </h4>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 uni-clear-padding">
                                    <div class="uni-shortcode-icons-box-2-default uni-background-blue">
                                        <div class="item-icons">
                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                        </div>
                                        <div class="item-caption">
                                            <h4>
                                                Modern Medicine
                                            </h4>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 uni-clear-padding">
                                    <div class="uni-shortcode-icons-box-2-default uni-background-blue-blur">
                                        <div class="item-icons">
                                            <i class="fa fa-dollar" aria-hidden="true"></i>
                                        </div>
                                        <div class="item-caption">
                                            <h4>
                                                Online Payment
                                            </h4>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--HOME 2 OURSERVICES-->
                <div class="uni-home-our-services">
                    <div class="uni-shortcode-icons-box-5">
                        <div class="container">

                            <div class="uni-home-title">
                                <h3>Our Services</h3>
                                <div class="uni-underline"></div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="uni-shortcode-icons-box-5-default">
                                        <div class="item-icons-title">
                                            <div class="col-md-4 uni-clear-padding">
                                                <div class="item-icons">
                                                    <img src="images/icons_box/icon_4/icon-5.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-8 uni-clear-padding">
                                                <div class="item-title">
                                                    <h4>Home Delivary</h4>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6">
                                    <div class="uni-shortcode-icons-box-5-default">
                                        <div class="item-icons-title">
                                            <div class="col-md-4 uni-clear-padding">
                                                <div class="item-icons">
                                                    <img src="images/icons_box/icon_4/icon-5.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-8 uni-clear-padding">
                                                <div class="item-title">
                                                    <h4>Sell Medicine</h4>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6">
                                    <div class="uni-shortcode-icons-box-5-default">
                                        <div class="item-icons-title">
                                            <div class="col-md-4 uni-clear-padding">
                                                <div class="item-icons">
                                                    <img src="images/icons_box/icon_4/icon-5.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-8 uni-clear-padding">
                                                <div class="item-title">
                                                    <h4>Sell Equipments</h4>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                
                            </div>

                            <!-- <div class="btn-all-services">
                                <a href="#">All services +</a>
                            </div> -->

                        </div>
                    </div>
                </div>
                            
        </footer>
    </div>
</div>